:root {
  --main-bg: #141827;
  --primary: #eeffac;
  --white: #fff;
  --solid-1: #98fff3;
  --solid-2: var(--primary);
  --solid-3: #ffacf7;
  --solid-4: #ace1ff;
  --solid-5: #ffc1c1;
  --solid-6: #d5c1ff;
  --solid-7: var(--white);
  --solid-8: #c6ffc1;
  --solid-9: #fff9c1;
  --solid-10: #ffbd98;
}

body.dark {
}
